@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .visually-hidden {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
    }

    #faq-input-1:checked ~ #faq-label-1 .faq-header .faq-question { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-input-1:checked ~ #faq-label-1 .faq-header .faq-arrow { @apply rotate-180; }
    #faq-input-1:checked ~ #faq-label-1 .faq-answer { @apply block; }
    #faq-label-1:hover .faq-header .faq-question { @apply text-soft-red }

    #faq-input-2:checked ~ #faq-label-2 .faq-header .faq-question { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-input-2:checked ~ #faq-label-2 .faq-header .faq-arrow { @apply rotate-180; }
    #faq-input-2:checked ~ #faq-label-2 .faq-answer { @apply block; }
    #faq-label-2:hover .faq-header .faq-question { @apply text-soft-red }

    #faq-input-3:checked ~ #faq-label-3 .faq-header .faq-question { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-input-3:checked ~ #faq-label-3 .faq-header .faq-arrow { @apply rotate-180; }
    #faq-input-3:checked ~ #faq-label-3 .faq-answer { @apply block; }
    #faq-label-3:hover .faq-header .faq-question { @apply text-soft-red }

    #faq-input-4:checked ~ #faq-label-4 .faq-header .faq-question { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-input-4:checked ~ #faq-label-4 .faq-header .faq-arrow { @apply rotate-180; }
    #faq-input-4:checked ~ #faq-label-4 .faq-answer { @apply block; }
    #faq-label-4:hover .faq-header .faq-question { @apply text-soft-red }

    #faq-input-5:checked ~ #faq-label-5 .faq-header .faq-question { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-input-5:checked ~ #faq-label-5 .faq-header .faq-arrow { @apply rotate-180; }
    #faq-input-5:checked ~ #faq-label-5 .faq-answer { @apply block; }
    #faq-label-5:hover .faq-header .faq-question { @apply text-soft-red }
}
