@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .visually-hidden {
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
    }

    #faq-1:checked + label span { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-1:checked + label svg { @apply rotate-180; }
    #faq-1:checked ~ span { @apply block; }

    #faq-2:checked + label span { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-2:checked + label svg { @apply rotate-180; }
    #faq-2:checked ~ span { @apply block; }

    #faq-3:checked + label span { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-3:checked + label svg { @apply rotate-180; }
    #faq-3:checked ~ span { @apply block; }

    #faq-4:checked + label span { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-4:checked + label svg { @apply rotate-180; }
    #faq-4:checked ~ span { @apply block; }

    #faq-5:checked + label span { @apply font-bold text-very-dark-desaturated-blue; }
    #faq-5:checked + label svg { @apply rotate-180; }
    #faq-5:checked ~ span { @apply block; }
}
